/*Unicamente per il layout di stampa della fattura*/
@media print {
    /* Nasconde Header, Footer, Nav e Pulsanti */
    header, footer, nav, .no-print, h2 {
        display: none !important;
    }

    /* Nasconde tutti gli ordini */
    .ordine-box {
        display: none !important;
    }

    /* 2. Mostra solo ordine selzionato */
    .ordine-box.in-stampa {
        display: block !important;
        border: 1px solid #000;
        padding: 20px;
        margin: 0;
        background: #fff;
        page-break-after: avoid; /* Evita pagine bianche extra */
    }

    body {
        background: #fff;
        color: #000;
    }
}